---
hide:
  - navigation 
  - toc        
---

# Outage Map

<style type="text/css">
#map {
    width: {{ map_width }};
    height: {{ map_height }};
    margin: 0;
}
</style>

<div id="map"></div>

<br>

### Incidents

{{ md_table }}